.cardGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.shipCard{
    display: grid;
    max-width: 33vw;
    margin: 2rem;
}

.cardHeader{
    text-align: start;
}

.cardBText{
    text-align: start;
}

.buttonSpacing{
    & button{
        margin: 2rem;
    }
}

.formCol{
    form{
        display: grid;
        grid-template-columns: 1fr;
    }
}

form{
    .formTxtF{
        margin: 1rem 0rem;
    }
}

#menu-appbar > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
    top: 4rem !important;
}