.cardGrid
{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
}

.defaultLink{
    text-decoration: none;
}

.aboutDiv{
    max-width: 95%;
    display: grid;
    justify-content: center;
    justify-items: center;
    & p{
        max-width: 75%;
    }
}

.shipCard{
    display: grid;
    //max-width: 33vw;
    margin: 1rem;
    align-content: baseline;
    height: fit-content;
}

.cardHeader{
    text-align: start;
}

.cardBText{
    text-align: start;
}

.buttonSpacing{
    & button{
        margin: 2rem;
    }
}

.formCol{
    form{
        display: grid;
        grid-template-columns: 1fr;
    }
}

form{
    .formTxtF{
        margin: 1rem 0rem;
    }
}

#menu-appbar > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
    top: 4rem !important;
}

@media only screen and (min-width:34rem) 
{
    .cardGrid
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width:60rem) 
{
    .cardGrid
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}